<script type="text/ng-template" id="addModal">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" ng-if="!$ctrl.scope.isEdit">Add country</h5>
			<h5 class="modal-title" ng-if="$ctrl.scope.isEdit">Edit country</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form ng-submit="$ctrl.scope.add($ctrl.scope.country)">
				<div class="form-group">
					<label for="countryname">Country Name</label>
					<input type="text" class="form-control" ng-model="$ctrl.scope.country.countryName" placeholder="Enter country name" required>
				</div>
				<div class="form-group">
					<label for="population">Population</label>
					<input type="number" class="form-control" ng-model="$ctrl.scope.country.population"  placeholder="Number of population" min="1" max="999999999999999999"required>

				</div>	
				<button type="submit" class="btn btn-primary" ng-if="!$ctrl.scope.isEdit">Add</button>
				<button type="submit" class="btn btn-primary" ng-if="$ctrl.scope.isEdit">Update</button>
				<button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</form>
		</div>
		<div class="modal-footer">

		</div>
	</div>
</script>

<script type="text/ng-template" id="deleteModal">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Delete country</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			Are you sure?
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" ng-click="$ctrl.scope.delete()" data-dismiss="modal">Delete</button>
		</div>
	</div>
</script>

<div class="container">
	<h2>Country list</h2>
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCountryModal" ng-click="$ctrl.resetStatus()">
		Add country
	</button>
	<button type="button" class="btn btn-primary" ng-click="$ctrl.refresh()">
		Refresh list
	</button>
	<table class="table table-striped table-bordered table-hover" ng-init='$ctrl.refresh()'>
		<thead class="thead-dark">
			<tr>
				<th scope="col">Country Name</th>
				<th scope="col">Population</th>
				<th scope="col">Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="country in $ctrl.countries">
				<td>{{country.countryName}}</td>
				<td>{{country.population}}</td>
				<td>
					<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#addCountryModal" ng-click="$ctrl.edit(country)">Edit</button>
					<button class="btn btn-danger btn-sm" type="button"  data-toggle="modal" data-target="#deleteCountryModal" ng-click="$ctrl.selectedCountry(country)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<modal modal-id="addCountryModal" template="addModal" scope="$ctrl"></modal>
<modal modal-id="deleteCountryModal" template="deleteModal" scope="$ctrl"></modal>
