<div class="modal fade "  id="{{$ctrl.modalId}}" tabindex="-1" role="dialog"  aria-hidden="true" >
	<div class="modal-dialog" role="document">
		<div class="modal-content" ng-include="$ctrl.template"></div>
	</div>
</div>
